<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">com.omisoft.keepassa.utils.CustomPostgreSQL95Dialect</property>
        <property name="hibernate.hikari.dataSourceClassName">org.postgresql.ds.PGSimpleDataSource</property>
        <property name="hibernate.hikari.dataSource.url">jdbc:postgresql://192.168.4.32:5432/keepassa_dev</property>
        <property name="hibernate.hikari.dataSource.user">postgres</property>
        <property name="hibernate.hikari.dataSource.password">asdqwe123@</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="javax.persistence.validation.mode">none</property>
        <property name="hibernate.default_schema">public</property>
        <property name="hibernate.jdbc.lob.non_contextual_creation">true</property>
        <property name="hibernate.connection.shutdown">true</property>
        <property name="hibernate.connection.autocommit">false</property>
        <!-- Connection pool -->
        <property name="hibernate.connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>
        <property name="hibernate.hikari.minimumIdle">20</property>
        <property name="hibernate.hikari.maximumPoolSize">40</property>
        <property name="hibernate.hikari.idleTimeout">30000</property>
        <property name="hibernate.create_empty_composites.enable">true</property>
        <property name="hibernate.jdbc.batch_size">100</property>
        <property name="hibernate.jdbc.order_inserts">true</property>
        <property name="hibernate.jdbc.use_get_generated_keys">true</property>

        <property name="current_session_context_class">thread</property>

    </session-factory>

</hibernate-configuration>